* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .parent {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    background: #23424A;
    color: white;
    padding: 50px 0;
    
    
   
    
  }
  
  .child{
    width: 80%;
    padding: 2rem;
  }
 
  .btn{
       display: inline-block;
       text-decoration: none;
       text-transform: uppercase;
       color: #23424A;
       font-weight:900;
       background-color: #38CFD9;
       padding: .25em 1.25em;
       border-radius:100px;
}
.btn:hover,
.btn:focus{
  opacity: .75;
}
  